.load-papan-s-10rb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  width: 100%;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.load-papan-s-10rb .txt-load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  font-weight: 500;
  color: #34495e;
  margin: -20px 0 0 0;
  overflow: hidden;
}

.load-papan-s-10rb .cont-load-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 50px;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.load-papan-s-10rb .cont-load-point .point1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #34495e;
  overflow: hidden;
  -webkit-animation: point1 920ms ease infinite;
          animation: point1 920ms ease infinite;
}

.load-papan-s-10rb .cont-load-point .point2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #34495e;
  overflow: hidden;
  -webkit-animation: point2 920ms ease infinite;
          animation: point2 920ms ease infinite;
}

.load-papan-s-10rb .cont-load-point .point3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #34495e;
  overflow: hidden;
  -webkit-animation: point3 920ms ease infinite;
          animation: point3 920ms ease infinite;
}

@-webkit-keyframes point1 {
  0% {
    margin-top: 0px;
  }
  5% {
    margin-top: -10px;
  }
  30% {
    margin-top: 6px;
  }
  60% {
    margin-top: -18px;
  }
}

@keyframes point1 {
  0% {
    margin-top: 0px;
  }
  5% {
    margin-top: -10px;
  }
  30% {
    margin-top: 6px;
  }
  60% {
    margin-top: -18px;
  }
}

@-webkit-keyframes point2 {
  0% {
    margin-top: 0px;
  }
  10% {
    margin-top: -18px;
  }
  50% {
    margin-top: 0px;
  }
  70% {
    margin-top: -10px;
  }
}

@keyframes point2 {
  0% {
    margin-top: 0px;
  }
  10% {
    margin-top: -18px;
  }
  50% {
    margin-top: 0px;
  }
  70% {
    margin-top: -10px;
  }
}

@-webkit-keyframes point3 {
  0% {
    margin-top: 0px;
  }
  15% {
    margin-top: -25px;
  }
  70% {
    margin-top: 0;
  }
}

@keyframes point3 {
  0% {
    margin-top: 0px;
  }
  15% {
    margin-top: -25px;
  }
  70% {
    margin-top: 0;
  }
}
/*# sourceMappingURL=CntSerba10rb.css.map */