* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.w-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.w-carousel .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 100%;
  background: #34495e25;
  overflow: hidden;
}

.w-carousel .carousel .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 460px;
  width: 100%;
  background: transparent;
  margin: 0px 0 0 0;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 50%;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px -1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 40px 0 10px 0;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box:hover {
  -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.3);
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  width: 100%;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-tools .c-t1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 80%;
  background: #476581;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-tools .c-t1 .w-btn-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 10px;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-tools .c-t1 .w-btn-t .btn-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin: 0 10px 0 0px;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-tools .c-t1 .w-btn-t .btn-t:hover {
  font-size: 20px;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-tools .c-t1 .w-btn-t .like {
  margin: 2px 10px 0 0;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-tools .c-t1 .w-btn-t .like .txt-j-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11.5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 5px 0 0;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-tools .c-t2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 20%;
  background: #34495e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-tools .c-t2 .btn-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  width: 100%;
  background: #ddd;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-img .c-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .name-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  background: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  padding: 2px 10px 2px 10px;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .name-p .txt-n-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  margin: 0 0 0 0px;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .price-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  background: transparent;
  text-align: start;
  padding: 2px 10px 2px 10px;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .price-p .txt-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #34495e;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .price-p .txt-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #34495e;
  text-decoration: line-through;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .grade-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 100%;
  background: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .grade-p ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px 0 0 10px;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .grade-p ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 3px 0 0;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .grade-p ul li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: gold;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .grade-p .txt-grade-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .grade-p .txt-terjual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  margin: 0 0 0 3px;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .stock-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  background: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .stock-p .txt-sk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  margin: 0 0 0 10px;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-dsk-price .stock-p .txt-jm-sk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  margin: 0 0 0 5px;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-btn .col1-btn-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 50%;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-btn .col1-btn-v .btn-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 65px;
  background-image: linear-gradient(168deg, #34495e 55%, #fff 170%);
  -webkit-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
  border-radius: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #eee;
  text-decoration: none;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-btn .col2-btn-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 50%;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-box .cont-box .c-c-btn .col2-btn-b .btn-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 65px;
  background-image: linear-gradient(168deg, #34495e 55%, #fff 170%);
  -webkit-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
  border-radius: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #eee;
  text-decoration: none;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-title .circ-n-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  background: #fff;
  -webkit-box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.4);
  border-radius: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 5px 0;
  overflow: hidden;
}

.w-carousel .carousel .parent .c-title .circ-n-i .number-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-family: 'comfortaa';
  font-weight: bolder;
  color: #34495e;
  margin: 2px 0 0px 0;
  overflow: hidden;
}

.load-cnt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 50%;
  background: #eee;
  -webkit-box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto;
  overflow: hidden;
}

.load-cnt-box svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50px;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-animation: Rotate 500ms linear infinite;
          animation: Rotate 500ms linear infinite;
}

.load-cnt-box svg circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke: #34495e;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  -webkit-animation: Circle 1s ease-out infinite;
          animation: Circle 1s ease-out infinite;
}

@-webkit-keyframes Circle {
  0% {
    stroke-dashoffset: 80;
  }
  50% {
    stroke-dashoffset: 5;
  }
}

@keyframes Circle {
  0% {
    stroke-dashoffset: 80;
  }
  50% {
    stroke-dashoffset: 5;
  }
}

@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=CntSemuaRasaE.css.map */