.c-p-b-c{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 0px 0px 0px 0px;
    background: #fff;
    overflow: hidden;

    .c-col{
        display: flex;
        height: 130px;
        width: auto;
        background-color: #bbb;
        text-decoration: none;
        margin: 2.5% 5% 2.5% 5%;
        overflow: hidden;

        .c-img{
            display: flex;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            margin: 0% 0 0% 0;
            overflow: hidden;

            // Font For gagal Load IMG
            font-size: 18px;
            font-family: 'times';
            color: #fff;
            overflow: hidden;
        }
    }
}